<%-include('header');-%>

<h2 class="home-h2">Great to see you here!!</h2>
<h2 class="home-h2">Here's some inside scoop</h2>
<p class="home-p">I always had a knack for technology and the limits of them. From the age I used to play virtual cop and house of dead I used to get bored of the actual gameplay pretty soon.</p>
<p class="home-p">Then the actual fubn would begin trying to do things developer tried to hide.</p>
<p class="home-p">But soon that would be repeatitive too then when I looked for new games to play, I learned about the limitation of my computer.</p>
<p class="home-p">After I got my first smartphone I first found out about the difference of computer and mobile development and viewport.</p>
<p class="home-p">By then I was old enough to choose my career path and I chose Web Development. As a software running virtually seemed very intriguing even magical.</p>
<p class="home-p">I also love reading books,learning about crypto currency, drinking coffee and playing football.</p>
<p class="home-p">Wanna know more? Check out my <a href="https://sprofile.netlify.app/"> profile</a></p>

<%-include('footer');-%>
