<%-include('header');-%>
<h1 class="home-h1 diplay-4">Hi I'm Shaswata</h1>
<h2 class="home-h2">I am a full stack web developer</h2>
<p class="home-p">Wanna get in touch? visit my <a href="https://sprofile.netlify.app/">profile </a>
</p>
<%-include('footer');-%>
