

</div>
<footer class="footer" id="footer">
  <a href="https://www.facebook.com/profile.php?id=100014093954668"><i class="fab footer-icon fa-facebook-f fa-1.5x"> </i></a>
  <a href="https://www.linkedin.com/in/shaswata-bhattacharya-767a66115/"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://www.linkedin.com/in/shaswata-bhattacharya-767a66115/"><i class="fab footer-icon fa-instagram fa-1.5x"></i></a>
  <a href="mailto:shaswata965@gmail.com"><i class="fas footer-icon fa-envelope fa-1.5x"></i></a>
  <p class="footer-p">© Copyright 2020 <a class="shaswata" href="https://sprofile.netlify.app/">Shaswata</a></p>

</footer>
<script src="js/index.js" charset="utf-8"></script>

</body>

</html>
